/node_modules
/data
/prisma/migrations
.git
.gitignore
docker-compose.*.yml
docker-compose.yml
swagger.yml
script.ts
/dist
.env
.env.*
.env*.local
README.md
swagger.yaml
index.html
script.ts
export.ts
migration.ts